$cell-height: 20px;
$cell-width: 100px;
$error-message-height: 50px;

.workbook-cell-outer {
  border: 1px solid #e7e7e7;
  cursor: pointer;
  padding: 2px;

  &--selected {
    border: 2px solid blue;
    padding: 1px;
  }

  &--error {
    border-right: 4px solid red;
    font-weight: bold;
    padding: 1px;
  }

  &:hover {
    cursor: text;
  }
}

.workbook-cell-inner {
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: $cell-height;
  outline: none;
  padding: 0;
  position: relative;
  width: 100px;

  &--selected {
    cursor: text;
  }

  &--error {
    background-color: transparent;
  }
}

.workbook-cell-error {
  background-color: white;
  border-left: 4px solid red;
  bottom: -($cell-height + $error-message-height);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  font-weight: normal;
  height: $error-message-height;
  left: $cell-width + 1;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 250px;
  z-index: 2;
}
