.workbook-container {
  overflow: auto;
  width: 100%;
}

.workbook {
  border-color: lightgray;
  border-spacing: 0;

  .workbook-header {
    position: sticky;
    top: 0;
  }
}

.col-header {
  background-color: white;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);

  &--selected {
    background-color: lightblue;
  }
}

.row-header {
  background-color: white;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;

  &--selected {
    background-color: lightblue;
  }
}

.workbook-cell-outer {
  border: 1px solid #e7e7e7;
  cursor: pointer;
  padding: 2px;

  &--selected {
    border: 2px solid blue;
    padding: 1px;
  }

  &:hover {
    cursor: text;
  }
}

.workbook-cell-inner {
  border: none;
  cursor: pointer;
  height: 20px;
  outline: none;
  padding: 0;
  width: 100px;
  font-size: 16px;

  &--selected {
    cursor: text;
  }
}
