.workbook-container {
  overflow: auto;
  width: 100%;
}

.workbook {
  border-collapse: collapse;
}

.workbook-cell-outer {
  border: 1px solid black;
  cursor: pointer;
  padding: 2px;
}

.workbook-cell-inner {
  border: none;
  cursor: pointer;
  height: 20px;
  outline: none;
  padding: 0;
}
