.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tools {
  background-color: lightgrey;
  height: 40px;
  width: 100%;
}
